extends ../layout

block content

    div.card=rock.id
            img.product(src=rock.image)
            div.title2= rock.product
            div.seller1 Brand/Seller:
                div.seller2= rock.seller
            div.sign $
                div.theprice= rock.price
                    div.perton per ton
            div.desc Description:
            div.desc1
                div.desc2= rock.description
    a.goback2(href="/rocks")
        button.gobackbutton Go Back
