extends ../layout

block content
    //include ../mixins/rockForm
    div.articles-header
        div.article-header-title Rocks For Sale
        div.

    div.dropdowns
        a(href="service").customerservice Customer Service
        a(href="service").contact Contact


    div.rocksforsale

        each rock in rocks
            a.button(href=`/viewRocks/view/${rock.id}`)
                button.cardbody(href="service")=rock.id
                img.image(src=rock.image)
                div.product_name=rock.product
                div.creator_name=rock.seller
                div.description=rock.description

    a.button(href="/")
        button(href='/').goback1 Go Back
