extends ../layout

block content
    //include ../mixins/rockForm
    div.articles-header
        div.article-header-title Rocks For Sale
        div.

    div.dropdowns
        a(href="service").customerservice Customer Service
        a(href="service").contact Contact


    div.rocksforsale

        each rock in rocks

            button.cardbody=rock.id
            img.image(src=rock.image)
            div.product_name=rock.product_name
            div.creator_name=rock.creator_name
            div.description=rock.description


    button.a(href='/').goback1 Go Back
