extends ../layout

block content
    //include ../mixins/rockForm
    div.articles-header
        div.article-header-title Rocks For Sale

    div.dropdowns
        a(href="/").contact Menu
        //a(href="/add").contact Add Rock
        a(href="/register").contact Register/Login
        a(href="service").customerservice Customer Service
        a(href="/contact").contact Contact
        a(href="/logout").contact Logout

    div.loginfo
        if user
            div.loginfo
                p Hello #{user.first_name}
                    div.defaultimg
                        img.defaultimg(src= "https://cdn.vectorstock.com/i/preview-1x/70/84/default-avatar-profile-icon-symbol-for-website-vector-46547084.jpg")


    div.rocksforsale

        each rock in rocks
            a.button(href=`/viewRocks/view/${rock.id}`)
                button.cardbody(href="service")=rock.id
                img.image(src=rock.image)
                div.product_name=rock.product
                div.creator_name=rock.seller
                div.description=rock.description

    a.button(href="/")
        button(href='/').goback1 Go Back
